/* Contact Us
==================================*/
// Variables

// Mixins

// Styles
#contact-us {
  margin-bottom: 50px;

  .btn {
    margin-top: 20px;
    padding: 10px 25px;
    font-size: 14px;
  }

  .contact-details {
    margin-top: 50px;

    li {
      margin: 5px;
    }
  }
}