/* Main App Base
==================================*/
body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

ol, ul {
  list-style: none;
}

@import 'header';
@import 'home';
@import 'about';
@import 'contactus';
@import 'footer';